<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Rabbit Search</title>
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/fragments/header.css">
        <link rel="stylesheet" href="/css/<%= filename %>.css">
        <link rel="icon" href="/img/icons/rabbit.svg" type="image/icon type">
    </head>
    <body>
        <div class="content">
            <header><%- include('fragments/header'); %></header>
            <main>
                <% if (myinfo.info) { %>
                    <div class="message green"><%- myinfo.info %></div>
                <% } %>
                <% if (myinfo.warn) { %>
                    <div class="message yellow"><%- myinfo.warn %></div>
                <% } %>
                <% if (myinfo.error) { %>
                    <div class="message red"><%- myinfo.error %></div>
                <% } %>
                <%- body %>
            </main>
            <footer>
                &copy; Copyright <%= moment().year(); %> Rabbit Search | Guilherme Silva | https://github.com/MrAngalo/rabbit-hole-2
            </footer>
        </div>
    </body>
</html>