<div class="title">
  <div class="heading">
    <h1><%= scene.title %></h1>
    <div class="badge-wrapper">
      <% for (var i = 0; i < scene.badges.length; i++) { %>
        <div class="badge">
          <div class="icon" style="background-color: <%= scene.badges[i].bg_color %>">
            <img src="<%= scene.badges[i].data_uri %>" alt="Badge">
          </div>
          <div class="badge-hint">
            <h3 class="badge-name">Badge: <%= scene.badges[i].name %></h3>
            <div class="badge-description"><%= scene.badges[i].description %></div>
          </div>
        </div>
      <% } %>
    </div>
  </div>
  <% if (scene.creator != null) { %>
  <div>Created by: <a href="/user/<%= scene.creator_name %>"><%= scene.creator_name %></a></div>
  <% } else { %>
  <div>Created by: <%= scene.creator_name %></div>
  <% } %>
  <div>Created on: <%= moment(new Date(scene.created)).format('Do MMMM, YYYY') %></div>
</div>
<div class="description-wrapper">
  <div class="rabbit-gif-wrapper">
    <img class="rabbit-gif tenor-load" gif-id="<%= scene.gifId %>" token="<%= csrfToken %>" alt="Rabbit Gif">
    <img class="tenor-footer" src="/img/tenor/PB_tenor_logo_blue_horizontal.svg" alt="Tenor Footer">
  </div>
  <div class="description">
    <% var lines = scene.description.split("\\n"); %>
    <% for (var i = 0; i < lines.length; i++) { %>
      <p><%= lines[i] %></p>
    <% } %>
    <div class="choice-wrapper">
      <% for (var i = 0; i < options.length; i++) { %>
        <% if (options[i].id != -1) { %> 
          <div class="choice">
            <a href="/scene/<%= options[i].id %>">
              <div class="button">
                <%= options[i].title %>
              </div>
            </a>
            <% if (scene.children[i]) { %> 
            <div class="child-attributes">
              <div class="child-rating-wrapper">
                <div class="child-rating green"><%= scene.children[i].likes%></div>
                <div class="child-rating red"><%= -scene.children[i].dislikes%></div>
              </div>
              <div class="child-badge-wrapper">
                <% for (var j = 0; j < scene.children[i].badges.length; j++) { %>
                <div class="badge">
                  <div class="icon" style="background-color: <%= scene.children[i].badges[j].bg_color %>">
                    <img src="<%= scene.children[i].badges[j].data_uri %>" alt="Badge">
                  </div>
                  <div class="badge-hint">
                    <h3 class="badge-name">Badge: <%= scene.children[i].badges[j].name %></h3>
                    <div class="badge-description"><%= scene.children[i].badges[j].description %></div>
                  </div>
                </div>
                <% } %>
              </div>
            </div>
            <% } %>
          </div>
        <% } else { %>
          <div class="choice">
            <a href="/create/<%= scene.id %>">
              <div class="button create">
                <%= options[i].title %>
              </div>
            </a>
          </div>
        <% } %> 
      <% } %>
    </div>
    <p>Scene ID: <%= scene.id %></p>
    <div class="rating-container">
      <div class="rating-option">
        <form action="/rate/<%= scene.id %>" method="POST">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <input type="hidden" name="rating" value="positive">
          <button class="icon button green" type="submit">
            <img src="/img/icons/like.svg" alt="Search">
          </button>
        </form>
        <div><%= scene.likes %></div>
      </div>
      <div class="rating-option">
        <form action="/rate/<%= scene.id %>" method="POST">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <input type="hidden" name="rating" value="negative">
          <button class="icon button red" type="submit">
            <img src="/img/icons/dislike.svg" alt="Search">
          </button>
        </form>
        <div><%= -scene.dislikes %></div>
      </div>
      <div class="rating-option">
        <form action="/rate/<%= scene.id %>" method="POST">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <input type="hidden" name="rating" value="report">
          <button class="icon button yellow" type="submit">
            <img src="/img/icons/warn.svg" alt="Search">
          </button>
        </form>
        <div>report (WIP)</div>
      </div>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/scene.js"></script>