<div class="title">
  <div class="heading">
    <h1><%= locals.scene.title %></h1>
    <div class="badge-wrapper">
      <% for (var i = 0; i < locals.scene.badges.length; i++) { %>
        <div class="badge">
          <div class="icon" style="background-color: <%= locals.scene.badges[i].bg_color %>">
            <img src="<%= locals.scene.badges[i].data_uri %>" alt="Badge">
          </div>
          <div class="badge-hint">
            <h3 class="badge-name">Badge: <%= locals.scene.badges[i].name %></h3>
            <div class="badge-description"><%= locals.scene.badges[i].description %></div>
          </div>
        </div>
      <% } %>
    </div>
  </div>
  <% if (locals.scene.creator != null) { %>
  <div>Created by: <a href="/user/<%= locals.scene.creator_name %>"><%= locals.scene.creator_name %></a></div>
  <% } else { %>
  <div>Created by: <%= locals.scene.creator_name %></div>
  <% } %>
  <div>Created on: <%= locals.moment(new Date(locals.scene.created)).format('Do MMMM, YYYY') %></div>
  <div>Released: <%= locals.SceneStatus[locals.scene.status].toLowerCase() %></div>
</div>
<div class="description-wrapper">
  <div class="rabbit-gif-wrapper">
    <img class="rabbit-gif tenor-load" gif-id="<%= locals.scene.gifId %>" token="<%= locals.csrfToken %>" alt="Rabbit Gif">
    <img class="tenor-footer" src="/img/tenor/PB_tenor_logo_blue_horizontal.svg" alt="Tenor Footer">
  </div>
  <div class="description">
    <% var lines = locals.scene.description.split("\\n"); %>
    <% for (var i = 0; i < lines.length; i++) { %>
      <p><%= lines[i] %></p>
    <% } %>
    <div class="choice-wrapper">
      <% for (var i = 0; i < locals.options.length; i++) { %>
      <% if (locals.options[i].id != -1) { %> 
      <div class="choice">
        <a href="/scene/<%= locals.options[i].id %>">
          <div class="button">
            <%= locals.options[i].title %>
          </div>
        </a>
        <% if (locals.scene.children[i]) { %> 
        <div class="child-attributes">
          <div class="child-rating-wrapper">
            <div class="child-rating green"><%= locals.scene.children[i].likes%></div>
            <div class="child-rating red"><%= -locals.scene.children[i].dislikes%></div>
          </div>
          <div class="child-badge-wrapper">
            <% for (var j = 0; j < locals.scene.children[i].badges.length; j++) { %>
            <div class="badge">
              <div class="icon" style="background-color: <%= locals.scene.children[i].badges[j].bg_color %>">
                <img src="<%= locals.scene.children[i].badges[j].data_uri %>" alt="Badge">
              </div>
              <div class="badge-hint">
                <h3 class="badge-name">Badge: <%= locals.scene.children[i].badges[j].name %></h3>
                <div class="badge-description"><%= locals.scene.children[i].badges[j].description %></div>
              </div>
            </div>
            <% } %>
          </div>
        </div>
        <% } %>
      </div>
      <% } else { %>
      <div class="choice">
        <a href="/create/<%= locals.scene.id %>">
          <div class="button create">
            <%= locals.options[i].title %>
          </div>
        </a>
      </div>
      <% } %> 
      <% } %>
    </div>
    <p>Scene ID: <%= locals.scene.id %></p>
    <div class="rating-container">
      <div class="rating-option">
        <form action="/rate/<%= locals.scene.id %>" method="POST">
          <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
          <input type="hidden" name="rating" value="positive">
          <button class="icon button green" type="submit">
            <img src="/img/icons/like.svg" alt="Search">
          </button>
        </form>
        <div><%= locals.scene.likes %></div>
      </div>
      <div class="rating-option">
        <form action="/rate/<%= locals.scene.id %>" method="POST">
          <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
          <input type="hidden" name="rating" value="negative">
          <button class="icon button red" type="submit">
            <img src="/img/icons/dislike.svg" alt="Search">
          </button>
        </form>
        <div><%= -locals.scene.dislikes %></div>
      </div>
      <div class="rating-option">
        <form action="/rate/<%= locals.scene.id %>" method="POST">
          <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
          <input type="hidden" name="rating" value="report">
          <button class="icon button yellow" type="submit">
            <img src="/img/icons/warn.svg" alt="Search">
          </button>
        </form>
        <div>report (WIP)</div>
      </div>
    </div>
  </div>
</div>
<% if (locals.user != undefined && locals.user.permission >= UserPremission.ADMINISTRATOR && locals.scene.id != 0) { %>
<div class="tabs-wrapper">
  <div class="tabs-header">
      <div class="tab-spacer"></div>
      <input type="radio" name="tab" id="tab1" class="tab-button" checked>
      <label for="tab1" class="tab-label">Admin</label>
      <div class="tab-content">
        <h2>Change Scene Status</h2>
        <form action="/admin/modify/scene/<%= locals.scene.id %>" method="POST">
          <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
          <label for="status">Select from the dropdown:</label>
          <select id="status" name="status">
            <% let sceneEnum = locals.SceneStatus[locals.scene.status]; %>
            <!-- <option value="<%= sceneEnum %>" selected><%= sceneEnum %></option> -->
            <% for (const [name, value] of Object.entries(locals.SceneStatus)) { %>
            <% if (isNaN(name)) { %>
            <option value="<%= name %>" <%= (sceneEnum == name) ? "selected" : "" %>><%= name %></option>
            <% } %>
            <% } %>
          </select><br>
          <button type="submit">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>
<% } %>
<script src="/js/jquery.min.js"></script>
<script src="/js/scene.js"></script>