<div class="profile-banner">
    <div class="profile-picture-wrapper">
        <% if (locals.user2.ppf_gifId != undefined) { %>
        <img class="profile-picture rabbit-gif preview-gif tenor-load" gif-id="<%= locals.user2.ppf_gifId %>">
        <% } else { %>
        <img class="profile-picture rabbit-gif preview-gif" src="/img/no-gif.png">
        <% } %>
    </div>
    <div class="profile-info">
        <h1><%= locals.user2.username %></h1>
        <div>Joined: <%= locals.moment(new Date(locals.user2.created)).format('Do MMMM, YYYY') %></div>
        <div>Permission Level: <%= locals.UserPremission[locals.user2.permission].toLowerCase() %></div>
        <% if (locals.user2.bio != undefined) { %>
        <p>Bio: <%= locals.user2.bio %></p>
        <% } %>
    </div>
</div>
<div class="tabs-wrapper">
    <div class="tabs-header">
        <div class="tab-spacer"></div>
        <!-- Scenes Tab -->
        <input type="radio" name="tab" id="tab1" class="tab-button" checked>
        <label for="tab1" class="tab-label">Scenes</label>
        <div class="tab-content">
            <div class="gallery" token="<%= csrfToken %>">
                <% for (let i = 0; i < locals.user2.scenes.length; i++) { %>
                <a class="scene" href="/scene/<%= locals.user2.scenes[i].id %>">
                    <img class="scene-gif tenor-load" src="" gif-id="<%= locals.user2.scenes[i].gifId %>" alt=" ">
                    <h4 class="scene-title"><%= locals.user2.scenes[i].title %></h4>
                </a>
                <% } %>
                <% for (let i = 0; i < 12; i++) { %>
                <div class="scene placeholder"></div>
                <% } %>
            </div>
        </div>
        <!-- Settings Tab -->
        <% if (locals.user != undefined && locals.user2.id == locals.user2.id) { %>
        <input type="radio" name="tab" id="tab2" class="tab-button">
        <label for="tab2" class="tab-label">Settings</label>
        <div class="tab-content settings">
            <form class="save-form" action="/modify/usersettings/<%= locals.user2.username %>" method="POST">
                <h2>Settings</h2>
                <div>
                The following are your account setings. They are subjected to the
                <a href="/guidelines" target="_blank">Community Guidelines</a>.
                </div><br>
                <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
                <h4>Profile Picture Gif:</h4>
                <div class="tenor-selector-wrapper">
                    <div class="tenor-selector">
                        <div class="flex">
                            <input id="tenor-search"type="text" placeholder="Search Tenor" class="text" token="<%= csrfToken %>">
                            <button type="button">Search</button>
                        </div>
                        <div class="searched_content"></div>
                    </div>
                    <img class="tenor-footer" src="/img/tenor/PB_tenor_logo_blue_horizontal.svg" alt="Tenor Footer">
                    <div class="rabbit-gif-wrapper">
                        <img class="profile-picture rabbit-gif preview-gif" src="/img/no-gif.png" alt="Rabbit Gif">
                        <img class="tenor-footer" src="/img/tenor/PB_tenor_logo_blue_horizontal.svg" alt="Tenor Footer">
                    </div>
                </div>
                <div>
                Cannot find your GIF? enter the ID bellow directly. It is the numbers at the end of the URL.
                Ex. (https://tenor.com/view/bruh-moment-gif-<span style="color:rgb(201, 0, 0)">23616422</span>)
                </div><br>
                <div>
                    <label for="gifId"><b>Gif id:</b></label>
                    <input type="text" id="gifId" name="gifId" placeholder="23616422" token="<%= csrfToken %>" value="<%= locals.user2.ppf_gifId %>" required>
                    <button type="button" onclick="$('#gifId').val('<%= locals.user2.ppf_gifId %>').trigger('keyup')">Reset Gif</button>
                </div>
                <div>
                    <h4>Biography:</h4>
                    <textarea id="bio" name="bio" placeholder="Enter something curious about you without revealing personal information" maxlength="400"><%= locals.user2.bio %></textarea><br>
                </div>
                <div>400 max characters</div>
                <label class="checkbox-wrapper" for="viewarev">
                    <h4>View "Awaiting Review" Scenes</h4>
                    <input type="checkbox" id="viewarev" name="viewarev" value="1" <%= (locals.user2.view_await_review) ? "checked" : "" %>>
                    <div class="switch"><div></div></div>
                </label>
                <div>
                    This setting allows you to view new user's scenes that have not
                    yet been approved by a moderator and released to the public. The
                    content of these scenes is unknown and may not be suitable for
                    all audiences. Please proceed with caution and be on the lookout
                    for any <a href="/guidelines" target="_blank">Community Guidelines</a>
                    violations.
                </div><br>
                <button type="submit">Save Settings</button>
                <button type="reset">Reset Settings</button>
                <br>
                <br>
            </form>
        </div>
        <!-- Log Out Action -->
        <form action="/logout" method="POST">
            <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
            <button type="submit" class="tab-label">Log Out</button>
        </form>
        <!-- Go To Admin Panel -->
        <% if (locals.user2.permission >= UserPremission.ADMINISTRATOR) { %>
        <form action="/admin" method="GET">
            <button type="submit" class="tab-label">Admin</button>
        </form>
        <% } %>
        <% } %>
    </div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/userpage.js"></script>